<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add
      connectionString="Data Source=DESKTOP-4PT1R9N\SQLEXPRESS;Initial Catalog=Control;Integrated Security=true;"
      name="Control" />
  </connectionStrings>
</configuration>